@{
  Layout = "_Layout";
}
<div class="jumbotron">
  <h1>YOU WANNA PUT SOME ARTISTS IN MY APP</h1>
  <h2>Well go right ahead and I'll keep them organized for ya!</h2>
</div>

<h3><a href='/records/new'>Add a new record</a></h3>