@{
  Layout = "_Layout";
}
<h1>Add a new Record</h1>

<form action="/records" method="post">
  <label for="title">Title of Record</label>
  <input id="title" name="title" type="text">
  <button type='submit'>Add Item</button>
</form>

<a href='/records'>View all categories</a>